h2 {
    margin-bottom: 0.5rem;
}

#admin_add_account, #admin_section, #accounts_list_search, #accounts_results_screen, #error_no_problem, #error_problem, #error_problem_mail {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid #2f3542 1px;
}

.accounts_results {
    padding: 0.5rem 0;
}

#accounts_list_search, .accounts_results, #admin_add_account form {
    align-items: center;
}

#accounts_list_search div, .accounts_results div {
    width: 33.33%;
}

#admin_add_account form div{
    padding: 0.5rem;
    width: 20%;
}

#admin_add_account form button{
    margin-top: 9%;
}

.account_options {
    justify-content: flex-end;
}

#admin_add_account form input{
    padding: 0.5rem 0.5rem;
}

#admin_section div {
    width: 50%;
}

/*Error message */
#error_no_problem, #error_problem, #error_problem_mail {
    padding-top: 1rem;
    font-size: 2rem;
    text-align: center;
    color: #dfe4ea;
}

#error_no_problem {
    background-color: #2ed573;
}

#error_problem {
    background-color: #ff4757;
}

#error_problem_mail {
    background-color: #ff6348;
}