* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

/*For all: 100% */
header, #body_container, #page_container, #nav_logout_section button,
.section_documents, .section_information, .section_documents_item{
    width: 100%;
}

html, body, #body_container, #navigation_bar {
    height: 100%;
}

/*For all: FLEX */
header, #body_container, #index_login label,
.section_type, .section_information, .section_show_button,
.section_documents_item {
    display: flex;
}

/* For all: PADDING */
#navigation_bar, #page_container, #index_login,
.section_type {
    padding: 1rem;
}

#nav_logout_section, #index_login label {
    padding: 2rem 0;
}

#index_login input {
    padding: 1rem 0.5rem;
}

button, .cancel {
    padding: 0.5rem 2rem;
}

/* For all: FONT-SIZE */
#navigation_bar, #nav_welcome_message, .section_show_more {
    font-size: 1.3rem;
}

header {
    font-size: 0.8rem;
}

#page_container, button, .cancel {
    font-size: 1rem;
}

/* Individual page elements */
header {
    height: 3rem;
}

.section_documents_item {
    padding-left: 2rem;
}

/*nav elements */
#navigation_bar {
    width: 16rem;
}

#nav_welcome_message {
    min-height: 3rem;
}

nav {
    padding-bottom: 1rem;
    height: auto;
}

nav div {
    height: 3rem;
    padding: 1rem 0;
}

#navigation_open {
    height: 2rem;
}

nav i {
    text-align: center;
    width: 15%;
}

/* page elements */
#page_container {
    overflow: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#nav_theme_switch {
    cursor: pointer;
    margin-bottom: 1rem;
}

#nav_administration_button {
    margin-top: 1rem;
}

/* Pointer */
nav div a:hover, button:hover, .section_show_more, .cancel:hover{
    cursor: pointer;
}

/* visibility */
#navigation_open {
    visibility: hidden;
}

#modaleUser {
    width: 40%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 30%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 2px 2px 9px darkgray;
    border-radius: 3px;
}

#modaleUser form {
    margin: 1%;
}