* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

/*For all: 100% */
header, #body_container, #page_container, #nav_logout_section button,
.section_documents, .section_information, .section_documents_item,
#admin_accounts_list, #admin_section, #admin_add_account, #accounts_list_search, #accounts_results_screen, .account_options div,
#error_no_problem, #error_problem, #error_problem_mail,
.modale div, .modale div input, .accounts_results {
    width: 100%;
}

html, body, #body_container, #navigation_bar {
    height: auto;
}

#navigation_bar {
    position: fixed;
    height: 100%;
}

#page_container {
    margin-left: 16rem;
}

/*For all: FLEX */
header, #body_container, #index_login label, #page_container,
.section_type, .section_information, .section_show_button, .section_documents_item,
#accounts_list_search, #admin_add_account form, #admin_add_account form div,
.accounts_results, .account_options, #admin_section, #admin_section form,
.modale, .modale div, .account_options div {
    display: flex;
}

#page_container, .modale {
    flex-direction: column;
}

#accounts_list_search {
    flex-direction: row;
}

/* For all: PADDING */
#navigation_bar, #page_container, #index_login,
.section_type {
    padding: 1rem;
}

#nav_logout_section, #index_login label {
    padding: 2rem 0;
}

#index_login input, .modale{
    padding: 1rem 0.5rem;
}

button, .cancel {
    padding: 0.5rem 2rem;
}

select {
    padding: 0.4rem 1.5rem;
}

.section_documents_item {
    padding-left: 2rem;
}

/* For all: FONT-SIZE */
#navigation_bar, #nav_welcome_message, .section_show_more, .message {
    font-size: 1.3rem;
}

header {
    font-size: 0.8rem;
}

#page_container, button, .cancel, #admin_add_account form input, .modale div label, .modale div input, select {
    font-size: 1rem;
}

/* For all: HEIGHT */
nav, .modale {
    height: auto;
}

header, nav div {
    height: 3rem;
}

#navigation_open, .modale div input {
    height: 2rem;
}

/*nav elements */
#navigation_bar {
    width: 16rem;
}

#nav_welcome_message {
    min-height: 3rem;
}

nav {
    padding-bottom: 1rem;
}

nav div {
    padding: 1rem 0;
}

nav i {
    text-align: center;
    width: 15%;
}

/* page elements */
#page_container {
    margin-bottom: 1rem;
    overflow: auto;
    align-items: center;
}

#nav_theme_switch {
    margin-bottom: 1rem;
}

#nav_administration_button {
    margin-top: 1rem;
}

/* Pointer */
#nav_theme_switch, nav div a:hover, button:hover, .section_show_more, .cancel:hover, .section_option i{
    cursor: pointer;
}

/* visibility */
#navigation_open {
    visibility: hidden;
}

/* Modal */
.modale {
    width: 50%;
    position: absolute;
    top: 5rem;
    left: 30%;
    border: solid #ff6348 4px;
    justify-content: space-evenly;
    box-shadow: 0 0 0.5rem #ff6348;
}

.modale div {
    padding-bottom: 2%;
}

.modale div label {
    width: 30%;
}

.modale form {
    margin: 1%;
}

.account_options div {
    justify-content: center;
}

/* Messages */
.new_message {
    animation-name: new_message_anim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}