/*For all: color */
body {
    background-color: #57606f;
}

#navigation_bar, #index_login, .section_type, .show_button, button i, .accounts_results:hover, #confirm, .modale {
    background-color: #2f3542;
}

input, button, .cancel, select {
    background-color: #747d8c;
}

body, a, a i, input, .section_show_more i, button, .cancel, select {
    color: #dfe4ea;
}

nav {
    border-top: solid #747d8c 1px;
    border-bottom: solid #747d8c 1px;
}

a {
    text-decoration: unset;
}

button, .cancel {
    border-color: #747d8c;
}

#index_login, .section_type {
    box-shadow: #2f3542 0 0 0.5rem;
}

input, select {
    border: unset;
}

/*Hover color */
button:hover, .cancel:hover {
    border: solid #2ed573 2px;
}

#nav_logout_button:hover, .account_delete:hover, .button_delete:hover {
    border: solid #ff6348 2px;
}

nav div a:hover {
    color: #2ed573;
}

/* Checkbox */
.section_checkmark {
    background-color: #eee;
}

.section_show_label:hover input ~ .section_checkmark {
    background-color: #ccc;
}

/* Modal */
.modale div input {
    border-bottom: solid #f1f2f6 2px;
}

/* Message */
@keyframes new_message_anim {
    0% {
        color: #f1f2f6 ;
    }
    50% {
        color: #2ed573;
    }
    100% {
        color: #f1f2f6;
    }
}