/*For all: color */
body {
    background-color: #57606f;
}

#navigation_bar, #index_login, .section_type {
    background-color: #2f3542;
}

body, a i, input {
    color: #dfe4ea;
}

/*Individual color */
nav {
    border-top: solid #747d8c 1px;
    border-bottom: solid #747d8c 1px;
}

a {
    text-decoration: unset;
    color: #dfe4ea;
}

button {
    border-color: #747d8c;
    background-color: #747d8c;
    color: #dfe4ea;
}

.show_button, button i {
    color: #57606f;
}

#index_login, .section_type {
    box-shadow: #2f3542 0 0 1rem;
}

input {
    background-color: #747d8c;
    border: unset;
}

/*individual hover color */
button:hover, .section_show_more:hover {
    cursor: pointer;
    border: solid #2ed573 2px;
}

#nav_logout_button:hover, .account_delete:hover {
    border: solid #ff6348 2px;
}

nav div a:hover {
    cursor: pointer;
    color: #2ed573;
}

.accounts_results:hover {
    background-color: #2f3542 ;
}

/* Checkbox */
.section_checkmark {
    background-color: #eee;
}

.section_show_label:hover input ~ .section_checkmark {
    background-color: #ccc;
}