@media screen and (min-width: 1000px) {
    #index_login {
        width: 50%;
    }
}

#page_container {
    justify-content: center;
}

#index_login {
    text-align: center;
    height: auto;
    border-radius: 20px;
}

#index_login label {
    flex-direction: column;
    text-align: left;
}

#index_login input {
    margin: 1rem 0;
}

#index_login button {
    padding: 0.5rem 3rem;
}