/*For all: Color */
body {
    background-color: #dfe4ea;
}

#navigation_bar, #index_login, .section_type, .section_checkmark, .accounts_results:hover, #confirm, .modale {
    background-color: #f1f2f6;
}

body, a i, .section_show_more i, button i, .show_button, button:hover, select {
    color: #57606f;
}

#nav_logout_button:hover, .account_delete:hover, .button_delete:hover {
    border: solid #ff4757 3px;
}

nav {
    border-top: solid #57606f 1px;
    border-bottom: solid #57606f 1px;
}

a, button {
    text-decoration: unset;
    color: #747d8c;
}

#index_login, .section_type, .section_checkmark {
    box-shadow: #57606f 0 0 0.5rem;
}

button:hover {
    border: solid #2ed573 3px;
}

nav div a:hover {
    color: #2ed573;
}

/* Checkbox */
.section_show_label:hover input ~ .section_checkmark {
    background-color: #ccc;
}

/* Modal */
.modale div input {
    border: none;
    border-bottom: solid #747d8c 2px;
}

/* Message */
@keyframes new_message_anim {
    0% {
        color: #2f3542 ;
    }
    50% {
        color: #2ed573;
    }
    100% {
        color: #2f3542;
    }
}