/*For all: Color */
body {
    background-color: #dfe4ea;
}

#navigation_bar, #index_login, .section_type {
    background-color: #f1f2f6;
}

#navigation_bar {
    border-right: solid #2ed573 6px;
}

body, a i, .section_show_more i {
    color: #57606f;
}

#nav_logout_button:hover, .account_delete:hover, .button_delete:hover {
    border: solid #ff4757 3px;
}

nav {
    border-top: solid #57606f 1px;
    border-bottom: solid #57606f 1px;
}

a, button {
    text-decoration: unset;
    color: #747d8c;
}

.show_button, button i {
    color: #57606f;
}

#index_login, .section_type {
    box-shadow: #57606f 0 0 1rem;
}

/*Hover color */
button:hover {
    color: #57606f;
    border: solid #2ed573 3px;
}

nav div a:hover {
    color: #2ed573;
}

.accounts_results:hover {
    background-color: #f1f2f6 ;
}

/* Checkbox */
.section_checkmark {
    box-shadow: #57606f 0 0 4px;
    background-color: #eee;
}

.section_show_label:hover input ~ .section_checkmark {
    background-color: #ccc;
}

#confirm, #modaleUser {
    background-color: white;
}