@media screen and (min-width: 1000px){
    .section_type {
        width: 75%;
    }
}

.section_type {
    margin-bottom: 2rem;
    height: min-content;
    border-radius: 20px;
    flex-direction: column;
}

.section_information {
    height: 4rem;
}

.section_tittle {
    font-size: 2rem;
}

.section_tittle, .section_documents_item_tittle {
    width: 100%;
}

.section_documents {
    padding: 1rem 0 0 0;
}

.section_documents_item {
    margin: 0.3rem 0;
    height: 2.5rem;
    align-items: center;
}

.section_show_more, .section_show_more:hover {
    background-color: unset;
    border: unset;
}

.section_show_button {
    display: flex;
    justify-content: right;
    margin-right: 2.5%;
}

.section_show_button button {
    margin-right: 1rem;
}

.section_option {
    margin-right: 1rem;
    font-size: 2rem;
}

/*Customize label of checkbox*/
.section_show_label {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Hide browser's default checkbox*/
.section_show_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/*Custom checkbox*/
.section_checkmark {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
}

/*Checkbox checked have a green background*/
.section_show_label input:checked ~ .section_checkmark {
    background-color: #2ed573;
}

/*Checkmark*/
.section_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/*Show checkmark when checked */
.section_show_label input:checked ~ .section_checkmark:after {
    display: block;
}

/* Style of checkmark */
.section_show_label .section_checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #dfe4ea;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Message */
.message {
    padding-right: 1rem;
}